.row:nth-child(even) {
  background-color: var(--light);
}
#book-table ul {
  padding-left: 18px;
}
@media (max-width: 767.98px) {
  .row:nth-child(odd) {
    background-color: var(--light);
  }
  .row:nth-child(even) {
    background-color: var(--primary-b-color);
  }
  #book-table ul {
    padding-left: 18px;
  }
  .pubs {
    font-size: 0.8rem;
  }
}

