{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
<style>
#schedules .row {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 0;
}
#schedules button[name=delete] {
  background: none;
  border: none;
  font-size: 1.1rem;
  padding: 0;
}
</style>
{% endblock %}

{% block content %}
<section>
  <div class="win-sm">
    <h1>Buat Jadwal</h1>
  </div>
  <div class="win-sm">
    <form action="{% url 'story_5:schedule' %}" method="POST">
      {% csrf_token %}
      {% for field in form %}

      {% if field.name not in horizontal %}
      <div class="form-group">
        <label for="id_{{ field.name }}">{{ field.label }}<span class="t-red">*</span></label>
        {{ field }}
        {% if field.errors %}
        <ul>
          {% for error in field.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      {% elif field.name == 'start' %}
      <div class="row flex-column flex-md-row">
        <div class="form-group col">
          <label for="id_{{ form.start.name }}">{{ form.start.label }}<span class="t-red">*</span></label>
          <div class="input-group date" id="id_{{ form.start.name }}" data-target-input="nearest">
            {{ form.start }}
            <div class="input-group-append" data-target="#id_{{ form.start.name }}" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
          {% if form.start.errors %}
          <ul>
            {% for error in form.start.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="form-group col">
          <label for="id_{{ form.end.name }}">{{ form.end.label }}<span class="t-red">*</span></label>
          <div class="input-group date" id="id_{{ form.end.name }}" data-target-input="nearest">
            {{ form.end }}
            <div class="input-group-append" data-target="#id_{{ form.end.name }}" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
          {% if form.end.errors %}
          <ul>
            {% for error in form.end.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>

      {% elif field.name == 'category' %}
      <div class="row flex-column flex-md-row">
        <div class="form-group col">
          <label for="id_{{ form.category.name }}">{{ form.category.label }}</label>
          {{ form.category }}
          {% if form.category.errors %}
          <ul>
            {% for error in form.category.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
      {% endif %}

      {% endfor %}
      <p>
      <i><span class="t-red">*</span>Wajib Diisi</i>
      <br>
      </p>
      <button class="button" type="submit" name="submit">Buat Jadwal</button>
    </form>
  </div>
</section>
<section id="schedules">
  <div class="win-sm">
    <h1>Jadwal</h1>
  </div>
  <div class="container-fluid">
    <form action="{% url 'story_5:edit_schedule' %}" method="POST">
      {% csrf_token %}
      {% for schedule in schedules %}
      <div class="row b-light{% if schedule.end < current_time %} t-grey{% endif %}" style="border: 2px solid {% if schedule.category %}{{ schedule.category.color }}{% else %}#EBF1F5{% endif %}">
        <div class="col-5 col-md-3">
          {{ schedule.start|date:"d/m/Y G:i" }}
        </div>
        <div class="d-none d-md-block col-3">
          {{ schedule.end|date:"d/m/Y H:i" }}
        </div>
        <div class="col-5">
          <a href="{% url 'story_5:view_schedule' schedule.id %}">
            {{ schedule.name }}
          </a>
        </div>
        <div class="col-1">
          <button type="submit" name="delete" value="{{ schedule.id }}">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
      {% endfor %}
    </form>
  </div>
</section>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
<script>
  $(function () {
    $("#id_start").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
    });
    $("#id_end").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
    });
  });
</script>
{% endblock %}
