{% extends 'base.html' %}

{% block style %}
<style>
#footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}
#detail .col-4 {
  font-weight: bold;
}
</style>
{% endblock %}

{% block content %}
<section id="detail">
  <div class="win-sm">
    <h1>Detil Jadwal</h1>
  </div>
  <div>
    <div class="container-fluid b-light">
      <div class="win-sm py-4">
        {% for key, value in schedule.items %}
        <div class="row">
          <div class="col-4">{{ key }}</div>
          <div class="col-auto t-blue">:</div>
          <div class="col-7">{{ value }}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
