{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'story_8/css/search_book.css' %}">
{% endblock %}

{% block content %}
<section>
  <div class="win-sm">
    <h1>Cari Buku<span class="t-blue">:</span></h1>
  </div>
  <div class="win-sm d-sm-flex mb-4">
    <input type="text" name="q" class="form-control" placeholder="Searching searching di perut">
    <button class="button mt-3 mt-sm-0 ml-sm-3" id="search">Cari</button>
  </div>
  <div class="win-sm">
    <div id="book-header" class="d-none d-md-block font-weight-bold b-light">
      <div class="row mx-0">
        <div class="col-3 p-2">Gambar</div>
        <div class="col-3 p-2">Judul Buku</div>
        <div class="col-3 p-2">Penulis</div>
        <div class="col-3 p-2">Publisher</div>
      </div>
    </div>
    <div id="book-table">
    </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script>
  var get_book_url = "{% url 'story_8:get_book' %}?q="
</script>
<script src="{% static 'story_8/js/get_book.js' %}"></script>
{% endblock %}
