{% extends 'base.html' %}

{% block style %}
<style>
#info {
  height: 80vh;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}
</style>
{% endblock %}

{% block content %}
<section id="info" class="d-flex">
  <div class="win-sm">
    <h1>404 <span class="t-grey">error</span></h1>
    <p>URL {{ request.path }} tidak ada atau sudah dihapus.</p>
  </div>
</section>
{% endblock %}
