{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'story_3/css/index.css' %}">
<link rel="stylesheet" href="{% static 'story_3/css/projects.css' %}">
{% endblock %}

{% block content %}
<section id="landing" class="d-flex justify-content-center align-items-center">
  <div class="d-flex flex-column-reverse flex-md-row align-items-md-end">
    <div id="title-desc" class="text-md-right t-grey">
      <p>
      Mahasiswa Fasilkom UI
      <br>Pengembang Web
      <br>Dari Indonesia
      </p>
    </div>
    <div id="title-big" class=" text-bold">
      <h1>Halo,</h1>
      <h1>Namaku</h1>
      <h1>Okto</h1>
    </div>
    <img class="square square1" src="{% static 'story_3/images/square-lg.svg' %}">
    <img class="square square2" src="{% static 'story_3/images/square-md.svg' %}">
    <img class="square square3" src="{% static 'story_3/images/square-sm.svg' %}">
  </div>
</section>
<section id="about" class="t-secondary b-secondary">
  <div>
    <div id="about-img" class="d-flex flex-column justify-content-center">
      <img src="{% static 'story_3/images/bareng.jpg' %}" alt="bareng">
      <img id="img-color" src="{% static 'story_3/images/bareng_color.jpg' %}" alt="bareng_color" class="position-absolute" style="opacity: 0;">
    </div>
  </div>
  <div id="about-text" class="d-flex win-sm flex-column flex-md-row">
    <div>
      <h2>Tentang Saya<span class="t-blue">:</span></h2>
      <p>
      Saya adalah seorang Pengembang Web Front-End dan Back-End dari Indonesia.
      Saya sedang berkuliah di Universitas Indonesia jurusan Ilmu Komputer.
      Saya suka mendesain website dan dan membuat website.
      Saya punya pengalaman membuat website dengan Django dan React.
      Saya suka desain yang sederhana, Warna Biru, dan kucing.
      </p>
      <a class="button t-secondary" href="{% url 'story_3:profile' %}">Profil</a>
    </div>
    <div>
      <h2>Keahlian<span class="t-blue">:</span></h2>
      <p>
      Python
      <br>Java
      <br>HTML/CSS
      <br>Javascript
      <br>Django
      <br>React
      </p>
      </p>
    </div>
  </div>
  <img class="square square4" src="{% static 'story_3/images/square-lg.svg' %}">
  <img class="square square5" src="{% static 'story_3/images/square-sm.svg' %}">
</section>
{% include 'story_3/projects.html' %}
{% endblock %}

{% block script %}
<script>
let vh = window.innerHeight * 0.01;
// Then we set the value in the --vh custom property to the root of the document
document.documentElement.style.setProperty('--vh', `${vh}px`);
</script>
{% endblock %}
