{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'story_3/css/profile.css' %}">
<link rel="stylesheet" href="{% static 'story_3/css/projects.css' %}">
{% endblock %}

{% block content %}
<section id="about" class="pb-0">
  <div id="name" class="win-sm d-flex flex-column flex-sm-row align-items-sm-end mb-5">
    <div class="flex-grow-1 flex-basis-0">
      <h1 class="m-0">Tentang Saya<span class="t-blue">:</span></h1>
    </div>
    <div class="flex-grow-1 flex-basis-0 m-0 mt-4">
      <p id="my-name" class="m-0">
        Muhammad
        <br><span class="t-blue">Okto</span>luqman
        <br>Fakhrianto
      </p>
    </div>
  </div>
  <div class="z-1">
    <div id="about-card" class="d-flex flex-column flex-md-row t-secondary b-secondary m-auto">
      <div class="flex-grow-1 flex-basis-0">
        <img src="{% static 'story_3/images/photo.jpg' %}" alt="photo" class="w-100">
      </div>
      <div class="flex-grow-1 flex-basis-0">
        <div class="win-sm px-md-4 py-4">
          <div id="info" class="d-flex mb-4">
            <div>
              <h3>18</h3>
              <span class="t-blue">Tahun</span>
            </div>
          </div>
          <div>
            <p>
            Saya adalah seorang Pengembang Web Front-End dan Back-End dari Indonesia.
            Saya sedang berkuliah di Universitas Indonesia jurusan Ilmu Komputer.
            Saya suka mendesain website dan dan membuat website.
            Saya punya pengalaman membuat website dengan Django dan React.
            Saya suka desain yang sederhana, Warna Biru, dan kucing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="about-bottom-bar" class="position-absolute b-light"></div>
  <img class="square square1" src="{% static 'story_3/images/square-md.svg' %}">
  <img class="square square2" src="{% static 'story_3/images/square-sm.svg' %}">
</section>
<section id="biodata" class="b-light">
  <div class="win-sm">
    <h1>Biodata<span class="t-blue">:</span></h1>
  </div>
  <div>
    <div class="container-fluid b-primary">
      <div class="win-sm py-4">
        <div class="row">
          <div class="col-4">Nama</div>
          <div class="col-auto t-blue">:</div>
          <div class="col-7">Muhammad Oktoluqman Fakhrianto</div>
        </div>
        <div class="row">
          <div class="col-4">Nama Panggilan</div>
          <div class="col-auto t-blue">:</div>
          <div class="col-7">Okto</div>
        </div>
        <div class="row">
          <div class="col-4">Tanggal Lahir</div>
          <div class="col-auto t-blue">:</div>
          <div class="col-7">24 Oktober 2000</div>
        </div>
        <div class="row">
          <div class="col-4">Jenis Kelamin</div>
          <div class="col-auto t-blue">:</div>
          <div class="col-7">Laki-Laki</div>
        </div>
        <div class="row">
          <div class="col-4">Hobi</div>
          <div class="col-auto t-blue">:</div>
          <div class="col-7">Coding</div>
        </div>
      </div>
    </div>
  </div>
  <img class="square square3" src="{% static 'story_3/images/square-sm.svg' %}">
</section>
<section id="education" class="py-0">
  <div class="z-1">
    <div class="win-sm">
      <h1>Pendidikan<span class="t-blue">:</span></h1>
    </div>
    <div class="t-secondary b-secondary">
      <div class="d-flex text-center flex-column flex-md-row">
        <div class="col-4 p-4">
          <h5>Sekolah Menengah Pertama</h5>
          <p>2012-2015</p>
        </div>
        <div class="col-4 p-4">
          <h5>Sekolah Menengah Atas</h5>
          <p>2015-2018</p>
        </div>
        <div class="col-4 p-4">
          <h5>Kuliah</h5>
          <p>2015-Sekarang</p>
        </div>
      </div>
    </div>
  </div>
  <div id="education-top-bar" class="position-absolute b-light"></div>
  <img class="square square4" src="{% static 'story_3/images/square-md.svg' %}">
</section>
{% include 'story_3/projects.html' %}
{% endblock %}
