{% load static %}
<section id="projects">
  <div class="win-sm">
    <h1>Proyek<span class="t-blue">:</span></h1>
  </div>
  <div id="project-cards" class="d-flex flex-column win-md">
    <div class="project-card d-flex b-light">
      <div class="d-flex flex-column">
        <p class="t-grey flex-grow-1">
        Pengembang Front-End
        </p>
        <a href="https://compfest.id" target="_blank" rel="noopener noreferrer">
          <h2 class="flex-grow-1">Compfest</h2>
        </a>
      </div>
      <div class="d-flex align-items-center">
        <a href="https://compfest.id" target="_blank" rel="noopener noreferrer">
          <img src="{% static 'story_3/images/compfest.png' %}"alt="img">
        </a>
      </div>
    </div>
    <div class="project-card d-flex b-light align-self-md-end">
      <div class="d-flex flex-column">
        <p class="t-grey flex-grow-1">
        Pendesain Web
        <br>Pengembang Front-End
        <br>Pengembang Back-End
        </p>
        <a href="https://fibrianti.id" target="_blank" rel="noopener noreferrer">
          <h2 class="flex-grow-1">Praktekiin</h2>
        </a>
      </div>
      <div class="d-flex align-items-center">
        <a href="https://fibrianti.id" target="_blank" rel="noopener noreferrer">
          <img src="{% static 'story_3/images/praktekiin.png' %}"alt="img">
        </a>
      </div>
    </div>
    <div class="project-card d-flex b-light">
      <div class="d-flex flex-column">
        <p class="t-grey flex-grow-1">
        Memikirkan Sebuah Proyek?
        </p>
        <h2 class="flex-grow-1">Mari Wujudkan Bersama<span class="t-blue">!</span></h2>
      </div>
    </div>
  </div>
  <img class="square pj-square1" src="{% static 'story_3/images/square-lg.svg' %}">
  <img class="square pj-square2" src="{% static 'story_3/images/square-md.svg' %}">
  <img class="square pj-square3" src="{% static 'story_3/images/square-sm.svg' %}">
</section>
