{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
th, td {
  vertical-align: top;
  padding: 0.3rem 0;
}
th {
  padding-right: 0.5rem;
}
</style>
{% endblock %}

{% block content %}
<section>
  <div class="win-sm">
    <h1>Daftar<span class="t-blue">:</span></h1>
  </div>
  <div class="win-sm">
    <form action="{% url 'story_9:register' %}" method="POST">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <button type="submit" class="button">Daftar</button>
    </form>
  </div>
</section>
{% endblock %}

{% block script %}
{% endblock %}
