.accordion-header {
  background-color: var(--secondary-b-color);
  color: var(--secondary-color);
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 1px solid var(--light);
}
.accordion-header i {
  transition: transform 0.2s;
}
.accordion-header.active i {
  transform: rotate(90deg);
}
.accordion-content {
  overflow: hidden;
  background-color: var(--light);
  max-height: 0;
  transition: max-height 0.2s;
}
.accordion-content ul {
  padding-left: 50px;
  margin-top: 10px;
}
#education-top-bar {
  height: 50px;
}
