/* landing */
#landing {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}
#title-big > h1 {
  font-size: 6.666rem;
  font-weight: bold;
  line-height: 6.666rem;
  margin-bottom: .5rem;
}
#title-desc {
  margin: 0 40px 6px 0;
  font-size: 1.2rem;
}

/* about */
#about {
  padding-top: 0;
}
#about-img {
  max-height: 567px;
  overflow: hidden;
  transform: translatey(-80px);
}
#about-img:hover #img-color {
  opacity: 1 !important;
}
#about-img img {
  width: 100%;
  animation: all 0.2s;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#about-text > div {
  margin: 0 4rem 4rem 0;
}
@media (max-width: 767.98px) {
  #title-big > h1 {
    font-size: 19vw;
    line-height: 19vw;
  }
  #about-img {
    transform: translatey(-60px);
  }
  #about-text > div {
    margin-right: 0;
  }
}

/* squares */
.square1 { transform: translate(-400px, 0); }
.square2 { transform: translate(400px, -150px); }
.square3 { transform: translate(600px, 400px); }
.square4 { transform: translate(0, 840px); }
.square5 { transform: translate(420px, 580px); }
