#my-name {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
#info h3 {
  margin: 0;
}
#biodata .col-4 {
  font-weight: bold;
}
#about-bottom-bar {
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
  padding: 0;
  max-width: initial;
}
#education-top-bar {
  top: 0;
  left: 0;
  height: 156px;
  width: 100%;
  padding: 0;
  max-width: initial;
}
#education .col-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  border: 2px solid var(--light);
}
#education .col-4 h5 {
  margin-bottom: 12px;
}
#education .col-4 p {
  margin: 0;
}
.z-1 {
  z-index: 20;
}

/* squares */
.square1 { transform: translate(400px, 100px); }
.square2 { transform: translate(600px, 400px); }
.square3 { transform: translate(100px, 40px); }
.square4 { transform: translate(560px, 0px); z-index: 20; }

@media (max-width: 767.98px) {
  #education .col-4 {
    max-width: initial;
  }
}
