section#projects {
  padding-bottom: 0;
}
section#projects div.win-md {
  margin-bottom: 180px;
}
#project-cards {
  margin-bottom: 200px;
}
.project-card {
  position: relative;
  width: 100%;
  height: 300px;
  padding: 36px;
  max-width: 480px;
  margin-bottom: -120px;
}
.project-card > div:last-child > a {
  position: absolute;
  right: -40px;
}
.project-card img {
  width: 200px;
}

/* squares */
.pj-square1 {
  transform: translate(420px, 160px);
}
.pj-square2 {
  transform: translate(100px, 720px);
}
.pj-square3 {
  transform: translate(-300px, 600px);
}

@media (max-width: 1200px) {
  section#projects div.win-md {
    margin-bottom: 0;
  }
  .project-card {
    margin-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .project-card {
    max-width: initial;
  }
  .project-card > div:last-child > a {
    right: 0;
  }
  .project-card img {
    width: 160px;
  }
}
