<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Okto's Website</title>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="{% static 'story_1/style.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
    </header>
    <div id="top-section">
      <div class="card">
        <img id="photo" alt="Photo" src="{% static 'story_1/photo.jpg' %}" height="200">
        <h1>Muhammad Oktoluqman Fakhrianto</h1>
        <h3>Welcome to My Website!</h3>
        <h3>UwU</h3>
      </div>
      <a id="arrow" href="#biodata"><i class="fa fa-arrow-down"></i></a>
    </div>
    <div id="biodata">
      <div class="card">
        <h1>About Me</h1>
        <p>
        Hello there, my name is <b>Okto</b>.
        I'm an undergraduate student studying <b>Computer Science</b> at <b>University of Indonesia</b>.
        I'm in my second year at the University.
        I like to code in my spare time, mostly coding a website.
        <br>
        <b>Do you like it?</b>
        </p>
        <div class="card table-card">
          <table>
            <tbody>
              <tr><th>Full Name</th><td>Muhammad Oktoluqman Fakhrianto</td></tr>
              <tr><th>Nickname</th><td>Okto</td></tr>
              <tr><th>College Year</th><td>2018</td></tr>
              <tr><th>NPM</th><td>1806186723</td></tr>
              <tr><th>Class</th><td>A</td></tr>
              <tr><th>Hobby</th><td>Coding</td></tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card">
        <h1>Projects</h1>
        <p>
        Here is some of the projects that I contributed.
        </p>
        <div class="flex">
          <div class="card">
            <img src="{% static 'story_1/compfest.png' %}" alt="compfest logo" height="100px">
            <p>
            Junior Frontend Web Developer at <a href="https://compfest.id" target="_blank">Compfest</a>
            </p>
          </div>
          <div class="card">
            <img id="logo-gigi" src="{% static 'story_1/logo-gigi.png' %}" alt="praktekiin logo" height="80px">
            <p>
            Web Designer, Frontend, and Backend Web Developer of <a href="https://praktekiin.herokuapp.com" target="_blank">Praktekiin</a> (Work in Progress)
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'story_1/scroll.js' %}"></script>
</html>
