body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
}
body > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  font-family: 'Muli', sans-serif;
}
#top-section {
  background-color: lightblue;
  text-align: center;
  position: relative;
}
#arrow {
  color: black;
  position: absolute;
  width: 23px;
  bottom: 0;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
}
#photo {
  border-radius: 150px;
  border: 6px solid white;
}
#biodata {
  background-color: pink;
  text-align: center;
}
#biodata table {
  text-align: left;
  margin: auto;
}
div.table-card {
  width: auto;
  margin: 0 20px 20px;
  border-radius: 50px;
}
.card {
  margin: 20px 40px;
  max-width: 760px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 100px;
}
.card h1 {
  margin-top: 0;
}
.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flex > .card {
  width: 250px;
  margin: 0 20px 20px;
  border-radius: 50px;
}
.flex > .card > img {
  border-radius: 20px;
}
#logo-gigi {
  background-color: #B9EBE5;
  padding: 10px 18px;
}
